<!-- layout/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>
  <body>
    <div class="root">
      <%- partial('_partial/header') %>
      <%- partial('_partial/aside') %>
      <div class="g-content">
        <%- body %>
      </div>
    </div>
  </body>
</html>
<!-- layout/layout.ejs -->