<div class="page">
  <% if(page.type === 'categories') { %>
    <%- partial('categories') %>
  <% } %>
  <% if(page.type === 'tags') { %>
    <%- partial('tags', { title: 'all tags'}) %>
  <% } else { %>
    <%- page.content %>
  <% } %>
</div>