<div class="tags-view">
  <% site.tags.each(function(tag){ if(tag.length){ %>
    <h3 class="archive-separator" id="tag-<%=tag.name %>">
      <%=tag.name %>
    </h3>
    <%- partial('_partial/post/post-list', {
      posts: tag.posts
    }) %>
  <% } }) %>
</div>