<div class="tags asideContainer">
    <div class="asideTitle">分类</div>
    <div class="asideContent">
        <% if (site.categories && site.categories.length){ %>
            <%- list_categories(site.categories, {
              class: 'article-tag',
            }) %>
        <% } %>
    </div>
</div>