<header class="g-header">
  <div class="g-navbar">
    <div class="avatar-container">
      <h1 class="site-name">
        <%= theme.title %>
      </h1>
    </div>
    <%- include('nav') %>
  </div>
</header>