<div class="info asideContainer">
  <div class="authorInfo">
    <p class="authorName">
      <%= config.author %>
    </p>
    <p class="subtitle">
      <%= config.subtitle %>
    </p>
    <p class="description">
      <%= config.description %>
    </p>
  </div>
</div>