<nav class="g-nav">
  <% theme.nav.forEach(r => { %>
    <a class="g-nav-link" href=<%= Object.values(r) %> class=<%= is_current(path.path) ? "nav-active": "" %>>
      <%= Object.keys(r) %>
      <!-- <%= page.path %> -->
    </a>
  <% }) %>
</nav>